.widgets-container {
  justify-content: space-evenly;
  align-items: center;
  background: rgb(19, 19, 38);
  background: linear-gradient(
    0deg,
    rgb(19, 19, 38) 0%,
    rgba(38, 53, 75, 0.1) 100%
  );
  border-radius: 30px;
  margin: 2% auto 3%;
  width: 100%;
  height: auto;
  height: 47.5%;
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
}

@media (max-width: 768px) {
  .widgets-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    width: auto;
    height: fit-content;
    padding: 20px 0;
  }

  .widgets-container > * {
    width: 100%;
  }

  .widgets-container::-webkit-scrollbar {
    display: none;
  }
}
