.create-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-btn {
  width: 120px;
  background-color: #00bfa5;
  color: white;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
}
