.dropdown-btn {
  cursor: pointer;
}

.dropdown-btn::after {
  display: none;
}

.dropdown-menu {
  margin-top: 10px;
}

.dropdown-submenu {
  margin: 0;
  margin-left: -17px;
}

.custom-dropdown-item {
  color: #fff;
}
