.submenu {
  position: relative;
  z-index: 100000;
}

.submenu-body {
  position: absolute;
  left: -210px;
  top: -140px;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  z-index: 9999;
}

.submenu-body::-webkit-scrollbar {
  display: none;
}

.dropdown-items {
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}
