.screen-container {
  width: 100%;
  height: 100%;
}
.left-player-container {
  width: 68%;
  height: 100%;
}
.right-player-container {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 30%;
  height: 100%;
}

@media (max-width: 768px) {
  .screen-container {
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
  }
  .screen-container::-webkit-scrollbar {
    display: none;
  }

  .left-player-container {
    padding-top: 5%;
  }

  .left-player-container,
  .right-player-container {
    width: 100%;
    height: 100%;
    margin: auto 0;
  }
  .right-player-container {
    margin-top: 20px;
  }
}
