.widget-entry-body {
  align-items: center;
  width: 100%;
  margin-top: 8%;
}

.widget-entry-img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.widget-entry-right-body {
  flex-direction: column;
  justify-content: center;
}

.widget-entry-title {
  margin: 0 0 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  color: #d2ebe7;
}

.widget-entry-subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #bdcac8;
}

@media (max-width: 768px) {
  .widget-entry-body {
    width: 250px;
    height: auto;
  }
}
